#RPI_Holder{
  padding: 0px;
  width: 285px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;
  -moz-box-shadow:    3px 3px 3px 3px #ccc;
  box-shadow:         1px 3px 15px 8px #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

#RPI_Holder ul{
  list-style: none;
  margin: 0;
  padding: 0;
  
}

#RPI_Holder li{
  padding-left: 40px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#RPI_Holder li:nth-child(odd) { 
 /* background: #c4e3ed; */
 background-color: #e7ebe5;
  
}

#RPI_Holder li:nth-child(even) { 
  background: #f3f1f4; 
 
}

#RPI_Holder li:hover{
  background-color: #bada55;
}

#RPI_Holder tr:nth-child(odd) { 
 /* background: #c4e3ed; */
 background-color: #e7ebe5;
  
}

#RPI_Holder tr:nth-child(even) { 
  background: #f3f1f4; 
 
}

#RPI_Holder tr:hover{
  background-color: #bada55;
}

.li_rating{
  margin-right: 40px;
}

#rpi_form{
  text-align: center;
}

#label{
  text-align: center;
}